@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald&display=swap');


* { margin: 0; padding: 0; border: none;}

body {background-color:white; font-family: lato, sans-serif;
font-weight: 300; color: #3a3a3a;}

/* heading style */
h1 {font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
   
    text-align: left;
    background: rgb(207, 84, 36);;
    margin-left: 6%;
    text-decoration: none;

}
#logo {
font-size: 280%;
padding-top: 10spx;
text-align: center;
text-decoration:none ;
text-align: left;
background-color: rgb(207, 84, 36);
margin:0 auto;
padding-left: 7px;


}

/* menu style */
div {display: block;}

#menu {font-size: large; letter-spacing: 4px; 
    text-align: right;
background-color: rgb(207, 84, 36);}



#menu li {margin: o auto; ;
list-style-type: none; display: inline-block; 
text-align: right;
padding-bottom: 2.5%;
padding-top: 0px;
overflow: hidden;
padding-right: 7px;

}
#menu a {text-decoration: none; 
    color: white; 
    font-weight: bold;
    background: rgb(207, 84, 63);
    margin: o auto;
    text-align: right;
    margin-bottom: 5%; 
    
    
}

#menu a:hover {border-bottom: 1px solid #3a3a3a;}

.active {border-bottom: 1px solid #3a3a3a;}





#main-image {
width: 100%;
background-image: url('../images/pizza-image.jpeg');
filter: brightness(70%);
background-size: cover;
background-repeat: no-repeat;
height: 1250px;
background-position: center;
padding-top: 5px;
margin-bottom: 40px;
}


/* school-ethos */

.cover-title {
position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: clear;
    color: white;
    padding-bottom: 900px;
    padding-right:900px;
    padding-left: 2%;

}

/*..Footer..*/
Footer {height: 150px;
background: rgb(207, 84, 63);
line-height: 0;}

.social-network {
    text-align: center;
   padding-top: 60px;
    position: relative;
    
}

.social-network > li {display: inline;}
.social-network i { font-size: x-large;
    margin: 10px;
    padding: 5px;
    color: white;
    }

    /*..Classes..*/
    #our-classes-title { 
        text-align: center;
        position: relative;
        text-transform: uppercase;
        padding-top: 10px;
        
        }

    #classes-space {width: 100%;
    background-color: lightgray;
    height: 1000px;}
    
    
    
#classes {display: block;
padding: 20px;
margin: 20px;
overflow: scroll;}





 #img1 {
    border:2px solid hotpink;
    border-radius: 20px;
    padding-right: 80%;
    padding-top: 5px;
    padding-bottom: 5px;

   
   }
        
   #img2 {border:2px solid hotpink;
    border-radius: 20px;
    padding-right: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
   

   }
   #img3 {border:2px solid hotpink;
    border-radius: 20px;
    padding-right: 80%;
    padding-top: 5px;
    padding-bottom: 5px;

   }
   #img4 {border:2px solid hotpink;
    border-radius: 20px;
    padding-right: 80%;
    padding-top: 5px;
    padding-bottom: 5px;

   }
  

   



   
    