@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald&display=swap');


* { margin: 0; padding: 0; border: none;}

html, body {background-color:burlywood; font-family: lato, sans-serif;
font-weight: 300; color: #3a3a3a;
max-width: 100% !important;
overflow-x: hidden;}

/* heading style */
a#homelink{
    text-decoration: none;
}


h1 {font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    font-size: 280%;
    text-align: left;
    background: rgb(207, 84, 36);
    margin-left: 6%;
    text-decoration: none;

}
#logo {
font-size: 200%;
padding-top: 10spx;
text-align: center;
text-decoration:none ;
text-align: left;

margin:0 auto;
padding-left: 7px;


}

/* menu style */
div {display: block;}

#menu {font-size: large; letter-spacing: 4px; 
    text-align: right;
}



#menu li {margin: o auto; ;
list-style-type: none; display: inline-block; 
text-align: right;
padding-bottom: 2.5%;
padding-top: 5px;
overflow: hidden;
padding-right: 7px;

}
#menu a {text-decoration: none; 
    color: white; 
    font-weight: bold;
    margin: o auto;
    text-align: right;
    margin-bottom: 5%; 
    
    
}

#menu a:hover {border-bottom: 1px solid #3a3a3a;}

.active {border-bottom: 1px solid #3a3a3a;}





#main-image {
width: 100%;
background-image: url('../images/pizza-image.jpeg');

background-size: cover;
background-repeat: no-repeat;
height: 1250px;
background-position: center;
padding-top: 5px;
margin-bottom: 40px;

}


/* school-ethos */

#cover-title {
text-align: left;
    bottom: 20px;
    right: 20px;
    background-color: clear;
    color:rgba(255, 255, 255, 200);
    padding-bottom: 900px;
    padding-right:900px;
    padding-left: 2%;
    width: 35%;
margin-left: 30px;
padding-top: 20px;
font-weight: 500;


}
#cover-title > h4 {padding-left: 40px;}


/*..Footer..*/
Footer {height: 150px;
background: rgb(207, 84, 36);
line-height: 0;}

.social-network {
    text-align: center;
   padding-top: 60px;
    position: relative;
    
}

.social-network > li {display: inline;}
.social-network i { font-size: x-large;
    margin: 10px;
    padding: 5px;
    color: white;
    }

    /*..Classes..*/
    #our-classes-title { 
        text-align: center;
        
        text-transform: uppercase;
        padding-top: 10px;
        color: white;
        
        }

    #classes-space {width: 100%;
    background-color: lightgray;
    height: 1200px;}
    
    
    





 
        
 

   




.orange_bg{
    background-color: rgb(207, 84, 36);
    margin: 0%;
    display: inherit;
    
}

#logo_holder{
    width: 35%;
    position: relative;
    display: inline-block;
    border: 0px solid blue;
    height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}


#menu_holder{
    width: 55%;
    position:inherit;
    display: inline-block;
    border: 0px solid yellow;
    height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}
#img_border {
display:inline-block;
padding-left: 20px;
padding-top: 50px;
width: 90%;
margin: 3px;

}

#border {border: 2px dotted rgb(216, 95, 15);
width: 100%;
margin-bottom: 10px;}

.p_holder1 {float: right;
width: 30%;
padding-top: 4px;
font-size: 20px;
display: inherit;

}

.p_holder2 {float: right;
width: 35%;
padding-top: 15px;
font-size: 20px;
}
  
.p_holder3 {float: right;
    width: 36%;
padding-top: 27px;
font-size: 20px;
 }

.p_holder4 {float: right;
    width: 33%;
padding-top: 19px;
font-size: 20px;
}

.p_holder1 > h3 { padding-right: 50%;} 
.p_holder2 > h3 {padding-right: 30%;}
.p_holder3 > h3 {padding-right: 30%;}
.p_holder4 > h3 {padding-right: 20%;}




.img1 {padding-left: 5px;
padding-top: 5px;
border-radius: 10px;
}
.img2 {padding-left: 5px;
    padding-top: 5px;
    border-radius: 10px;
    }
.img3 {padding-left: 5px;
        padding-top: 5px;
        border-radius: 10px;
        }
.img4 {padding-left: 5px;
            padding-top: 5px;
            border-radius: 10px;
            }    
            
            #contact-img {
                width: 100%;
                background-image: url('../images/cooking-lessons-01.jpeg');
                filter: brightness(50%);
                background-size: cover;
                background-repeat: no-repeat;
                height: 1250px;
                background-position: center;
                padding-top: 5px;
                margin-bottom: 40px;
                
                }           
                
                    
                .contact-font{color:white;
                filter: brightness(100%);
                text-align: center;
                padding-top: 50px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size: 35px;}

                .location {text-align: center;
padding-top: 70px;
font-size: 30px;}

h3 {text-align: center;
    margin-top: 50px;
    padding-bottom: 10px;
}
#label_holder {border: 5px solid rgb(0, 128, 0);
width: 50%;
margin-left: 330px;
height: 470px;
padding-top: 30px;
margin-top: 30px;
padding-bottom: 10px;
}

input {height: 35px;
width: 45%;}
#text {height: 200px;}

.label {font-size: large;
    

}

.img1-size {display: inline-block;}


@media only screen and (max-width: 768px) {
    #logo {font-size: 100%;
        width: 100%;
    }
    
    #menu {font-size: small;
    width: 100%;}

    #logo_holder {width: 35%;}


    #menu_holder { width: 55%;}

    #cover-title {width: 66%;
    margin-left: 0;
    padding-top: 0;
    padding-right: 90%;
    margin-top: -41px;
}
#img_border {width: 90%;}


.p_holder1  {width: 35%;
font-size: 13px;
margin-top: -30px;}
.p_holder2 {width: 33%;
font-size: 12px;
padding-top: 22px;}
.p_holder3 {width: 33%;
font-size: 12px;
margin-top: -20px;}
.p_holder4 {width: 35%;
font-size: 12px;
padding-top: 12px;}
.contact-font {font-size: 25px;}

#label_holder {width: 80%;
margin-left: 50px;}
.label{font-size: medium;}

input {width: 70%;
height: 10%;}

}
    
  

