@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald&display=swap');

* { margin: 0; padding: 0; border: none;}

body {background-color:white; font-family: lato, sans-serif;
font-weight: 300; color: #3a3a3a;}

/* heading style */
h1 {font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: green;
    display: block;
    text-align: left;
    background: white;
    margin-left: 5%;

}
#logo {
font-size: 280%;
padding-top: 10px;
text-align: center;
text-decoration: none;


}

/* menu style */
div {display: block;}

#menu {font-size: large; letter-spacing: 4px; 
    text-align: center}

#menu #logo {line-height: 150px;}

#menu li {margin: o auto; ;
list-style: none; display: inline-block; 
}
#menu a {text-decoration: none; 
    color: green; 
    font-weight: bold;
    background: chartreuse;
    margin: o auto;
}

    #menu a:hover {border-bottom: 1px solid #3a3a3a;}

.active {border-bottom: 1px solid #3a3a3a;}





#main-image {
width: 100%;
background-image: url('../images/pizza-image.jpeg');
filter: brightness(50%);
background-size: cover;
background-repeat: no-repeat;
height: 1300px;
background-position: center;
}



/* school-ethos */

.cover-title {
height: 600px; text-align: center; display: block;
color: white;
width: 80%;
font-size: x-large;
position: absolute; 
filter: brightness(100%);
text-align: left;
margin-left: 3%;
text-transform: initial;
margin-top: 7%;}

.cover-text {text-align: left; color: white;
font-size: x-large;
font-family: oswald,sans-serif ;
margin-left: 3%;
position: absolute;

}






